* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
}

#days,
#stages {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  overflow-x: scroll;
}

#days > div {
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#stages > div {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stages > div > div {
  text-wrap: nowrap;
  text-align: center;
}

#events {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-x: scroll;
  width: 100%;
  padding: 0.5rem;
}

.stage.inactive {
  opacity: 0.5;
}

.stage.unavailable {
  display: none !important;
}

.day.inactive {
  opacity: 0.2;
}

/* Block schedule SVG styles. */
rect.block.clickable {
  cursor: pointer;
}

rect.block.clickable:hover {
  opacity: 0.5;
}

foreignObject.block-text {
  pointer-events: none;
}

div.text-container {
  font-size: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.text-container > div.artist-name {
  text-align: center;
}

div.text-container > div.time {
  font-size: 0.75em;
}
