* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
}

#days,
#stages {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  overflow-x: auto;
}

#days > div,
#stages > div {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#days > div {
  background-color: #eee;
}

#stages > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#stages > div > div {
  text-wrap: nowrap;
  text-align: center;
}

#events {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-x: auto;
  width: 100%;
  padding: 0.5rem;
}

.stage.inactive {
  opacity: 0.5;
}

.stage.unavailable {
  display: none !important;
}

.day.inactive {
  opacity: 0.2;
}

#button-now {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 0.5rem;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#button-now:hover {
  background: #ddd;
}

#button-now.unavailable {
  display: none;
}

/* Show smaller "now" button on phones */
@media screen and (min-width: 900px) {
  #button-now {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
  }
}
@media not screen and (min-width: 900px) {
  #button-now {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

/* Block schedule SVG styles. */
rect.block.clickable {
  cursor: pointer;
}

rect.block.clickable:hover {
  opacity: 0.5;
}

foreignObject.block-text {
  pointer-events: none;
}

div.text-container {
  font-size: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.text-container > div.artist-name {
  text-align: center;
}

div.text-container > div.time {
  font-size: 0.75em;
}
